[env]
build_flags =
  -DWLAN_SSID='"yourwlan"'
  -DWLAN_PASSWORD='"password"'
  -DMQTT_HOST='"mqtt_ip"'
  -DMQTT_PORT='1883'
  -DMQTT_USER='"mqtt_user"'
  -DMQTT_PASSWORD='"mqtt_password"'
  -DNTP_SERVER='"pool.ntp.org"'
  -DNTP_GMT_OFFSET='7200'